.preview_container {

    .question_section {
        padding: 1rem 0;
        border-bottom: 1px solid lightgrey;
    }

    & button {
        margin-top: 15px;
        cursor: pointer;
        margin: 1rem 0.5rem;
    }

    .question {
        margin-bottom: 20px;
    }

}